export(bottomleft)
export(idlocator)
export(imagedata)
export(topright)
import(png)
importFrom("graphics", "abline", "lines", "locator", "par", "plot",
             "points", "polygon", "rasterImage", "text")
importFrom("stats", "coef", "lm")
importFrom("utils", "alarm", "flush.console", "head", "tail")

